<h1>Edit the logs</h1>

<%=form_for [@post.user, @post] do |t| %>
	<%=t.label :title, "Subject" %>  
	<%=t.text_field :title %>
	<%=t.label :body, "Findings" %>  
	<%=t.text_field :body %>
	<%=t.submit "Save" %>

<% end %>