<h1>Join Us - Sign Up Here</h1>
<p>Fill out the form to join the community</p>

<%=form_for @user do |f| %>
	<%=f.label :email %>
	<%=f.text_field :email %>
	<%=f.label :password %>
	<%=f.password_field :password %>
	<%=f.label :password_confirmation %>
	<%=f.password_field :password_confirmation %>
	<%=f.submit "Sign UP!" %>
<%end%>
